div {
  width: 100px;
  height: 100px;
  background: #00f;
  transition: width .5s linear; /* vendorless fallback */
  -o-transition: width .5s linear; /* opera */
  -ms-transition: width .5s linear; /* IE 10 */
  -moz-transition: width .5s linear; /* Firefox */
  -webkit-transition: width .5s linear; /*safari and chrome */
}

div:hover {
  width: 300px;
}


