.typing-effect {
  animation: typing 5s steps(25), blink 1s step-end infinite alternate;
  border-right: 10px solid;
  font-family: monospace;
  font-style: 2em;
  overflow: hidden;
  white-space: nowrap;
  width: 25ch;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
